$bright-color: rgb(135, 242, 135);
$dark-color: rgb(52, 52, 52);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Odibee Sans', sans-serif;
  letter-spacing: 0.2em;
  font-size: 1rem;
  line-height: 1.6;
  overflow: auto;
  background-color: black;
}

.navBar {
  background-color: black;
  border-bottom: 1px solid $bright-color;
  padding: 0.2em 0.7em;
  color: $bright-color;
  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-style: italic;
    }
  }
}

.container {
  background-color: $dark-color;
  margin: auto;
  // position: relative;
  padding: 0.3em 1em;
  bottom: 0;
  height: 100vh;
  // margin: 0 1em;\
}
