$bright-color: rgb(104, 255, 104);
$dark-color: rgb(52, 52, 52);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Odibee Sans', sans-serif;
  color: $bright-color;
  letter-spacing: 0.2em;
  font-size: 1rem;
  line-height: 1.6;
  overflow: auto;
  background-color: black;
}

.navBar {
  a {
    color: $bright-color;
    padding: 0 0.5em;
    text-decoration: none;
  }

  background-color: black;
  border-bottom: 1px solid $bright-color;
  // padding: 0.2em 0.7em;
  color: $bright-color;
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 1em;
  overflow-x: hidden;
  .navLinks {
    margin-left: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    h1 {
      font-style: italic;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }
}

.container {
  background-color: $dark-color;
  margin: auto;
  // position: relative;
  // padding: 0.3em 1em;
  bottom: 0;
  height: 100vh;
  // margin: 0 1em;\
}
